name: Dockerfile Build and Publish
on:
  workflow_dispatch:

jobs:
  build_with_dockerfile:
    runs-on: ubuntu-latest
    env:
      CONTAINER_REG: "registry.hub.docker.com"
      CONTAINER_REPO: "lancemccarthy/secretsmocker"
      PLATFORMS: "linux/arm64,linux/amd64,linux/arm/v8"
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Generate tag version
      id: tag-creator
      run: |
        buildDay=`date +%Y.%m.%d`
        tags="${{env.CONTAINER_REG}}/${{env.CONTAINER_REPO}}:$buildDay.$GITHUB_RUN_NUMBER"
        echo "DOCKER_HUB_TAG=$tags" >> $GITHUB_OUTPUT
        
    - name: Verify tag output
      run: echo ${{steps.tag-creator.outputs.DOCKER_HUB_TAG}}
      
    - name: Get Docker metadata from Docker Hub
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ${{env.CONTAINER_REG}}/${{env.CONTAINER_REPO}}

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{secrets.DOCKER_HUB_USERNAME}}
        password: ${{secrets.DOCKER_HUB_PAT}}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
      with:
        platforms: ${{env.PLATFORMS}}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      with:
        platforms: ${{env.PLATFORMS}}

    - name: Build and push to Docker Hub
      uses: docker/build-push-action@v5
      with:
        context: src/SecretsMocker/SecretsMocker
        platforms: ${{env.PLATFORMS}}
        push: true
        tags: |
          ${{env.CONTAINER_REG}}/${{env.CONTAINER_REPO}}:${{steps.tag-creator.outputs.DOCKER_HUB_TAG}}
          ${{env.CONTAINER_REG}}/${{env.CONTAINER_REPO}}:latest
