name: SDK Build and Publish
on:
  workflow_dispatch:
  
env:
  CONTAINER_BASE_IMAGE: "mcr.microsoft.com/dotnet/aspnet:10.0"
  CONTAINER_REG: "registry.hub.docker.com"
  CONTAINER_REPO: "lancemccarthy/secretsmocker"
  DOTNET_VER: "10.0.x"
  
jobs:
  generate-version:
    runs-on: ubuntu-latest
    outputs:
      version_tag: ${{steps.tag-creator.outputs.VERSION_TAG}}
    steps:
    - name: Generate tag version
      id: tag-creator
      run: |
        buildDay=`date +%Y.%m.%d`
        tags="$buildDay.$GITHUB_RUN_NUMBER"
        echo "VERSION_TAG=$tags" >> $GITHUB_OUTPUT

  build:
    runs-on: ubuntu-latest
    needs: generate-version
    strategy:
      matrix:
        target_arch: [x64, arm64, arm]
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{env.DOTNET_VER}}

    - name: Login to Docker Hub
      run: docker login ${{env.CONTAINER_REG}} -u ${{secrets.DOCKER_HUB_USERNAME}} -p ${{secrets.DOCKER_HUB_PAT}}

    - name: Build the ${{matrix.target_arch}} image
      id: build
      working-directory: src/SecretsMocker/SecretsMocker
      run: |
        dotnet publish -t:PublishContainer -p PublishProfile=DefaultContainer --arch ${{matrix.target_arch}} -p ContainerImageTag="${{needs.generate-version.outputs.version_tag}}-${{matrix.target_arch}}" -p ContainerRepository=${{env.CONTAINER_REPO}} -p ContainerRegistry=${{env.CONTAINER_REG}} -p ContainerBaseImage=${{env.CONTAINER_BASE_IMAGE}}

  publish_combined_manifest:
    runs-on: ubuntu-22.04
    needs: build
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      run: docker login ${{env.CONTAINER_REG}} -u ${{secrets.DOCKER_HUB_USERNAME}} -p ${{secrets.DOCKER_HUB_PAT}}

    - name: create the multi-image manifest
      run: |
        docker manifest create "${{env.CONTAINER_REG}}/${{env.CONTAINER_REPO}}:latest" \
          "${{env.CONTAINER_REG}}/${{env.CONTAINER_REPO}}:${{needs.generate-version.outputs.version_tag}}-x86" \
          "${{env.CONTAINER_REG}}/${{env.CONTAINER_REPO}}:${{needs.generate-version.outputs.version_tag}}-arm64" \
          "${{env.CONTAINER_REG}}/${{env.CONTAINER_REPO}}:${{needs.generate-version.outputs.version_tag}}-arm"

        docker manifest push "${{env.CONTAINER_REG}}/${{env.CONTAINER_REPO}}:latest"
